@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background: #E4E9F7;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #fff;
    padding: 10px;

}

.title{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-logo{
    background: #695CFE;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    margin-right: 10px;
}

.title-dis h2{
    font-size: 19px;
}

.title-dis h4{
    font-size: 14px;
}

.sidebar .title .toggle{
    background: #695CFE;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    
}