@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #E4E9F7;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #fff;
    padding: 10px;
    transition: 0.5s ease-in-out;
}

.title {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}

.title-logo {
    background: #695CFE;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 7px;
    transition: 0.5s ease-in-out;
}

.title-dis h2 {
    font-size: 19px;
}

.title-dis h4 {
    font-size: 14px;
}

.sidebar .title .toggle {
    position: absolute;
    left: 230px;
    background: #695CFE;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.menu-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu-content {
    width: 100%;
}

.search-box {
    background: #ccc;
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 40px;
    width: 100%;
    border-radius: 20px;
}

.search-box .search-icon {
    font-size: 25px;
    padding-left: 17px;
}

.search-box input {
    background: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    padding-left: 10px;
    transition: 0.5s ease-in-out;
}

.list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav-link {
    height: 50px;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.nav-link:hover{
    background-color: #695CFE;
    border-radius: 70px;
}

.menu-bar{
    display: flex;
    flex-direction: column;
}

.list .nav-link a {
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.icon{
    font-size: 25px;
    color: #000;
}

.nav-text{
    padding-left: 10px;
}

.nav-text h6{
    font-size: 16px;
    color: #000;
}

.bottom{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.bottom .list .nav-link a{
    text-decoration: none;
}

button{
    background: #ccc;
    height: 25px;
    margin-left: 20px;
    margin-right: 5px;
    width: 45px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: 0;
}

button span{
    background: #999;
    display: block;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-left: 3px;
    transition: 0.5s ease-in-out;
}

.active{
    background: #efefef;
}

.active span{
    background: #000;
    margin-left: 22px;
}

.on{
    background-color: #242526;
    color: #fff;
}

.on .menu-bar .menu-content .list .nav-link .nav-text h6,
.on .menu-bar .bottom .list .nav-link .nav-text h6,
.on .menu-bar .menu-content .list .nav-link .icon,
.on .menu-bar .bottom .list .nav-link .icon{
    color: #fff;
}

.on .menu-bar .menu-content .search-box{
    background-color: #3a3b3c;
}

.shk{
    width: 80px;
}

.shk .title .title-dis,
.shk .menu-bar .menu-content .list .nav-link .nav-text,
.shk .menu-bar .bottom .list .nav-link .nav-text,
.shk .menu-bar .bottom .list .nav-link .bx-moon,
.shk .menu-bar .menu-content .search-box input{
    display: none;
}

.shk .menu-bar .bottom .list .nav-link button{
    margin-left: -10px;
}

.shk .title .toggle{
    left: 60px;
}